/*  your css code here. If applicable */
*{
	padding: 0;
	margin: 0;
}
.hero{
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #f5f5f5;
	height: 60vh;
	width: 100vw;
}

.img img{
	height: 50vh;
	width: 60vw;
	object-fit: cover;
}

.card {
	background-color: white;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.card p{
	padding: 10px;
}
.card button{
	padding:7px;
	background-color: red;
	color: white;
	border: none;
}